.container {
    margin-left: auto;
    margin-right: auto;
    width:1024px;
}

main {
    background-color: blue;
    width: 1024px;
    height: 400px;
  
}

h1 {
    color:aquamarine;
}

.navbar {
    color: blue;
    background-color: blueviolet;
    width: 1024px;
    height:40px;
    margin-top: -20px;
}

.header2 {
    color:aquamarine
}

.footer {
    background-color: bisque;
    height: 30px;
    width: 1024px;
    margin-top: 400px;
}

.header {
    background-color: rgb(16, 9, 43);
    height: 118px;
    width: 1024px;
}

.aside {
    margin-left: 600px;
    background-color: antiquewhite;
    width: 400px;
    height:200px;
}