body {
    background-color: green;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width:1024px;
}

main {
    background-color: blue;
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
    margin-top: 80px;

  
}

.header2 {
    color:aquamarine
}

.footer {
    background-color: bisque;
    height: 30px;
    width: 1024px;
    padding-top: 40px;
    text-align: center;
}

.header {
    background-color: rgb(16, 9, 43);
    height: 118px;
    width: 1024px;
    text-align: center;
}

.aside {
    margin-left: 600px;
    background-color: antiquewhite;
    width: 400px;
    height:200px;
}

h1 {
    color: white;
    font-size:83px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

p {
    font-size: 20px;
}