body {
    background-color: green;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width:1024px;
}

main {
    background-color: blue;
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
}

.header2 {
    color:aquamarine
}

.footer {
    background-color: bisque;
    height: 30px;
    width: 1024px;
    text-align: center;
}

.header {
    background-color: rgb(16, 9, 43);
    height: 118px;
    width: 1024px;
    text-align: center;
} 

.navbar {
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: aqua;
}

h1 {
    color: white;
    font-size:83px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

p {
    font-size: 20px;
}

a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    /* text-decoration: none; */
}