body {
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00F490, #00BBC9);
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.container {
    width: 1024px;
    background-color: aliceblue;
    background-image: linear-gradient(to bottom right, #00F490, #00BBC9);

}

.jumbotron {
    background-color: white;
    padding: 30px 30px;
    justify-content: center;
}

.navbar-brand {
    background-color: blue;
    width: 1024px;
}