body {
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00F490, #00BBC9);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4.3em;
}

.container {
    width: 1024px;
    background-color: aliceblue;
    background-image: linear-gradient(to bottom right, #00F490, #00BBC9);

}

.jumbotron {
    /* background-color: rgba(252, 252, 252, 0.932); */
    padding: 30px 30px;
    justify-content: center;
}

.navbar-brand {
    background-color: blue;
    width: 1024px;
}


.drop-shadow {
    text-shadow: 0px 3px 2px black;
}

.lead {
    color: white;
    font-size: 2.2em;
}