/* Global View aka Desktop View */

body {
    margin: 0;
    font-family: 'Asap', sans-serif;
    color: rgb(250, 248, 248);
    background-color: black;
}

.container {
    background-color: rgb(247, 252, 250);
    min-height: 100px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-container {
    background-color: gray;
    height: 50px;
    min-height: 100px;
    margin-bottom: 60px;
}

header {
    max-width: 1024px;
    /* background-color: aqua; */
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fcf3f3;
    padding: 20px 20px;
    border: 1px solid white;
    margin-left: 10px;
}

header .logo {
    font-size: 2em;
}

.col {
    width: 30%;
    margin-bottom: 30px;
    background-color: aqua;
}

.col p {
    color:rgb(7, 0, 0);
    font-size: 0.875em;
    padding: 20px 20px;
    line-height: 1.5em;
}

.hide-desktop-only {
    display: none;
}


.col img {
    width:100%;
    height: auto;
}

/* Tablet View */
@media (max-width: 768px){
    
    .col {
        width: 45%;
    }
    .hide-desktop-only {
        display: block;
    }
}



/* Mobile View */
@media (max-width: 400px){
    
    .col {
        width: 100%;
    } 

    .hide-desktop-only {
        display: block;
    }
}


.col p::first-line {
    font-weight: bold;
}

.footer-container {
    background-color: gray;
    height: 50px;
    min-height: 100px;
    margin-bottom: 60px;
}

footer {
    max-width: 1024px;
    background-color: aqua;
    min-height: 100px;
    margin: 0 auto;
}