.container {
    width: 1024px;
    background-color: aqua;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* min-hight: min you can go bu it can get 
bigger if the content needs it */
/* It prevents the used value of the height property from becoming smaller than the value specified for min-height */

header {
    background-color: green;
    min-height: 100px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: rgb(126, 128, 0);
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}


.card1 {
    background-color: black;
    min-height: 300px;
    width: 30%;
}
.card2 {
    background-color: rgb(226, 36, 36);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(38, 35, 211);
    min-height: 300px;
    width: 30%;
}

.herobox1 {
    width: 50%;
    min-height: 30px;
    flex: 2;    
}

.herobox2 {
    width: 50%;
    min-height: 30px;
    flex: 1;
}

/*** heroes= flex of child only works if the flex display
in is active in the parent node too*/